.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

generated/*
!generated/.gitkeep
!generated/prometheus/
!generated/prometheus/.gitkeep
generated/prometheus/*
!generated/prometheus/.gitkeep
!generated/prometheus/rules/
!generated/prometheus/rules/.gitkeep
generated/prometheus/rules/*
!generated/prometheus/rules/.gitkeep
