namespace    = "monitoring-helm"
release_name = "prometheus-stack"

kubeconfig_path    = "~/.kube/config"
kubernetes_context = "docker-desktop"

chart_version = "86.2.2"

grafana_admin_user     = "admin"
grafana_admin_password = "admin"

kubernetes_insecure_skip_tls_verify = false
